* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #003049;
    color: white;
    scroll-behavior: smooth;
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    /* Ensures the main content takes up available space */
    padding-bottom: 100px;
    /* Adds space at the bottom to avoid overlap with the footer */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 86px;
    background-color: #003566;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 24px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #97BCC7;
    font-size: 1.1rem;
}

main hr {
    border: 0;
    background: #97BCC7;
    height: 1.2px;
    margin: 10px 84px;
}

.left {
    font-size: 1.8rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.firstSection>div {
    width: 32%;
}


.aboutMe {
    margin-top: 20px;
}

.aboutMe h4 {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 10px;
}

.aboutMe p {
    font-size: 1rem;
    line-height: 1.6;
    color: white;
    text-align: justify;
}

.leftSection {
    font-size: 1.8rem;

}

.leftSection .buttons {
    padding: 50px 0;
}

.leftSection .btn {
    padding: 14px;
    background: #003049;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;

}

.rightSection img {
    width: 80%;
    margin: 40px 0;
}

.purple {
    color: #97BCC7;
}

.secondSection {
    max-width: 80vw;
    height: 80vh;
    padding-top: 92px;
    margin: -100px 95px;
}



.secondSection h1 {
    font-size: 2.0rem;
    margin-top: 40px;
}

.secondSection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin-top: 80px;
    display: flex;
}

.secondSection .vertical {
    background-color: white;
    width: 1px;
    height: 60px;
    margin: 0px 286px;
}

.thirdSection {
    max-width: 80vw;
    margin: -500px 95px;
    height: 80vh;
}

.third-section-hr {
    border: 0;
    background: #97BCC7;
    height: 1.2px;
    margin: 410px 84px;

}

.fourth-section-hr {
    border: 0;
    background: #003049;
    height: 1.2px;
    margin-top: 900px;

}
.skills-hr {
    border: 0;
    background: #97BCC7;
    height: 1.2px;
    margin: 10px 0px;

}





.thirdSection h1 {
    font-size: 2.0rem;
    padding-top:120px;
   
}

.thirdSection .box {
    background: white;
    width: 2px;
    height: 48vw;
    margin: 36px 0;

}

.thirdSection .vertical {
    background-color: white;
    width: 1px;
    height: 60px;
    margin: 0 300px;
}

.thirdSection .horizontal1 {
    background-color: white;
    width: 300px;
    height: 1px;
    margin: 0px 0px;
}

.thirdSection .horizontal2 {
    background-color: white;
    width: 300px;
    height: 1px;
    margin: 310px 0px;
}

.thirdSection .horizontal3 {
    background-color: white;
    width: 300px;
    height: 1px;
    margin: 310px 0px;
}

.thirdSection .degree {
    position: relative;
    top: 5px;
    width: auto;
    font-size: 16px;
    white-space: nowrap;
    margin: 0 10px;
}

.thirdSection .school-name {
    position: relative;
    top: 5px;
    width: auto;
    font-size: 15px;
    white-space: nowrap;
    margin: 0 10px;
}

.thirdSection .degree-duration {
    position: relative;
    top: 5px;
    width: auto;
    font-size: 14px;
    white-space: nowrap;
    margin: 0 10px;
}

.thirdSection .grade {
    position: relative;
    top: 5px;
    width: auto;
    font-size: 13px;
    white-space: nowrap;
    margin: 0 10px;
}

.thirdSection .additional_info {
    position: relative;
    top: 5px;
    width: auto;
    font-size: 13px;
    white-space: nowrap;
    margin: 0 25px;
}

.image-top {
    height: 50px;
    position: relative;
    top: -58px;
    left: -50px;
}

.vertical-title {
    position: relative;
    top: 5px;
    width: auto;
    font-size: 20px;
    white-space: nowrap;
    margin: 0 -120px;
}

.project-hr {
    border: 0;
    background: #97BCC7;
    height: 1.2px;
    margin: 10px 0px;

}


.company-name {
    position: relative;
    top: 5px;
    width: auto;
    font-size: 16px;
    white-space: nowrap;
    margin: 0 -120px;
}

.job-duration {
    position: relative;
    top: 5px;
    width: auto;
    font-size: 15px;
    white-space: nowrap;
    margin: 0 -120px;
}

.job-description {
    position: relative;
    top: 5px;
    width: 550px;
    font-size: 14px;
    white-space: normal;
    padding-left: 20px;
    margin: 0 -130px;
    
}

.job-description ul {
    padding-left: 20px;
    text-align: justify;
    margin: 5px;
}

.fourth-section {
    max-width: 80vw;
    padding-top: 92px;
    margin: -100px 95px;
    height: 80vh;


}

.fourth-section h1 {
    font-size: 2.0rem;
    margin-top: 30px;

}

.container {
    width: 80%;
    max-width: 1200px;
}

.section {
    margin-top: 40px;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}



.tech-item {
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* Add space between the icon and text */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1 1 calc(25% - 20px);
    /* Adjusted for 4 items per row with gap */
    box-sizing: border-box;
    /* Ensure padding and borders are included in the width calculation */
}


.tech-item img {
    width: 35px;
    /* Adjust the size of the icons */
    height: auto;
}


.tech-item:hover {
    background-color: #555;
}

.fifthSection {
    max-width: 80vw;
    padding-top: 100px;
    margin: 550px 95px;
    height: 80vh;

}

.fifth-section-hr {
    border: 0;
    background: #97BCC7;
    height: 1.2px;
    margin: 200px 84px;



}

.fifthSection h1 {
    font-size: 2.0rem;
    margin: 40px 0px;
}

.fifthSection .box {
    background: white;
    width: 2px;
    height: 44vw;
    margin: 36px 0;

}

/* styling for project section */

/* Container for horizontal layout with scrolling */
.items-container {
    display: flex;
    flex-direction: row;
    /* Ensure items are in a row */
    overflow-x: auto;
    /* Enable horizontal scrolling */
    overflow-y: hidden;
    /* Disable vertical scrolling */
    width: calc(100% - 4rem);
    padding: 2rem 0;
    /* Adjust padding if necessary */
    gap: 1.6rem;
    /* Space between cards */
}

.item {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    /* Set width to 50% of the screen */
    padding: 2.8rem;
    margin: 0;
    /* Remove margin to avoid spacing issues */
    display: flex;
    flex-direction: column;
    border-radius: 1.7rem;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: translateY(-1rem);
    backdrop-filter: blur(1.5rem);
    flex-shrink: 0;
    /* Prevent items from shrinking */
    position: relative;
    /* Add position relative to anchor absolute elements */
}

.item h3 {
    font-size: 1.75rem;
    font-weight: bold;
    height: 8rem;

}


.vertical-title {
    position: relative;
    top: 5px;
    width: auto;
    font-size: 20px;
    white-space: nowrap;
    margin: 0 -120px;
}


.item figure {
    width: 100%;
    height: 320px;
    /* Match the height of the project description */
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1.5rem;
    position: relative;
}

.item figure img {
    width: 100%;
    /* Ensure the image takes the full width */
    height: 100%;
    /* Ensure the image takes the full height */
    object-fit: fill;
    /* Cover the entire area without distortion */
}

.project-description {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% - 5.6rem);
    /* Adjusted width to account for padding on both sides */
    height: 320px;
    line-height: 1.75rem;
    padding: 2.5rem;
    position: absolute;
    top: calc(5.4rem + 6.5rem);
    left: 2.5rem;
    right: 2.8rem;
    /* Ensure the right edge aligns with the container */
    overflow: auto;
    opacity: 0;
    border-radius: 1.5rem;
    transition: opacity 200ms ease-out;
    box-sizing: border-box;
    /* Ensure padding is included in the element's width and height */
}

.item figure:hover+.project-description,
.project-description:hover {
    opacity: 1;
}

.project-info {
    margin-bottom: 0.5rem;
}

#project p {
    text-align: justify;
    margin: 5px;
}

.note {
    font-style: italic;
    font-size: 0.8em;
    /* Adjust the size as needed */
    margin-top: 10px;
    /* Optional: Add some space above */
}

.link {
    font-style: italic;
    font-size: 0.9em;
    /* Adjust the size as needed */
    margin-top: 10px;
    /* Optional: Add some space above */
}

#project li {
    text-align: justify;

}



select {
    padding: 0.8rem 1.2rem;
    border: solid 1px #efefef;
    margin-bottom: 1.2rem;
    outline: none;
    border-radius: 0.75rem;
    transition: box-shadow 200ms ease-out;
}

select:focus,
select:active {
    box-shadow: 0 0 0 0.25rem rgba(43, 153, 255, 0.5);
}

label {
    margin-bottom: 0.7rem;
}

#element {
    color: #97BCC7;
}

footer {
    text-align: center;
    margin-top: 500px;
    width: 100%;
}




.footer-distributed {
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 35px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}